{% extends 'master.html' %}
{% block content %}
<main class="pt-90">
    <div class="mb-md-1 pb-md-3"></div>
    <section class="products-single container">
      <div class="row">
        <div class="col-lg-7">
          <div class="products-single__media" data-media-type="vertical-thumbnail">
            <div class="products-single__image">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide products-single__image-item">
                    <img loading="lazy" class="h-auto" src="{{ products['image'] }}" width="674" height="674" alt="{{ products['image'] }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex justify-content-between mb-4 pb-md-2">
            <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
              <a href="/" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
              <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
              <a href="/catelog" class="menu-link menu-link_us-s text-uppercase fw-medium">Catelog</a>
            </div><!-- /.breadcrumb -->

          </div>
          <h1 class="products-single__name">{{ products['title'] }}</h1>
          <div class="products-single__price">
            <span class="current-price">${{ products['price'] }}</span>
          </div>
          <div class="products-single__short-desc">
            <p>{{ products['description'] }}</p>
          </div>
          <form name="addtocart-form" >
            <div class="product-single__addtocart">
              <div class="qty-control position-relative">
                <input type="number" name="quantity" value="1" min="1" class="qty-control__number text-center" id="qty-btn">
                <div class="qty-control__reduce" id="reduce">-</div>
                <div class="qty-control__increase" id="increase">+</div>
              </div><!-- .qty-control -->
              <button class="btn btn-primary btn-add-to-cart "
                data-title="{{ products['title'] }}"
                data-id="{{ products['id'] }}"
                data-price="{{ products['price'] }}"
                data-image="{{ products['image'] }}">Add to Cart</button>
            </div>
          </form>
          <div class="products-single__addtolinks"></div>
          <div class="products-single__meta-info">
            <div class="meta-item">
              <label>SKU:</label>
              <span>N/A</span>
            </div>
            <div class="meta-item">
              <label>Categories:</label>
              <span>{{ products['category'] }}</span>
            </div>
            <div class="meta-item">
              <label>Tags:</label>
              <span>none</span>
            </div>
          </div>
        </div>
      </div>
      <div class="product-single__details-tab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link nav-link_underscore active" id="tab-description-tab" data-bs-toggle="tab"
              href="#tab-description" role="tab" aria-controls="tab-description" aria-selected="true">Description</a>
          </li>

        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-description" role="tabpanel"
            aria-labelledby="tab-description-tab">
            <div class="product-single__description">
              <h3 class="block-title mb-4">Sed do eiusmod tempor incididunt ut labore</h3>
              <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="block-title">Why choose product?</h3>
                  <ul class="list text-list">
                    <li>Creat by cotton fibric with soft and smooth</li>
                    <li>Simple, Configurable (e.g. size, color, etc.), bundled</li>
                    <li>Downloadable/Digital Products, Virtual Products</li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <h3 class="block-title">Sample Number List</h3>
                  <ol class="list text-list">
                    <li>Create Store-specific attrittbutes on the fly</li>
                    <li>Simple, Configurable (e.g. size, color, etc.), bundled</li>
                    <li>Downloadable/Digital Products, Virtual Products</li>
                  </ol>
                </div>
              </div>
              <h3 class="block-title mb-0">Lining</h3>
              <p class="content">100% Polyester, Main: 100% Polyester.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock %}
{% block scriptBlock %}
    <script>

        let quantityInput = document.getElementById('qty-btn')
        let carts = JSON.parse(localStorage.getItem('carts') ?? '[]')
        document.addEventListener('DOMContentLoaded', function() {

        increaseBtn.addEventListener('click', function() {
            let currentValue = parseInt(quantityInput.value);
            quantityInput.value = currentValue ;
            console.log(`${quantityInput.value}`)
        });

        decreaseBtn.addEventListener('click', function() {
            let currentValue = parseInt(quantityInput.value);
            // Optional: Prevent decreasing below a certain value (e.g., 0)
            if (currentValue > 0) {
                quantityInput.value = currentValue;
                console.log(`${quantityInput.value}`)
            }
            });
        });
        document.querySelectorAll('.btn-add-to-cart').forEach(item=>{
            item.addEventListener('click',function (){
                let id = this.getAttribute('data-id')
                let title = this.getAttribute('data-title')
                let price = this.getAttribute('data-price')
                let image = this.getAttribute('data-image')
                let dpl_index = carts.findIndex(carts=> carts.id === id)
                if (dpl_index !== -1){
                    carts[dpl_index].qty +=parseInt(quantityInput.value)
                    }else{
                    carts.push({
                        'id':id,
                        'title':title,
                        'qty':parseInt(quantityInput.value),
                        'price':price,
                        'image':image
                    })
                    location.reload();
                }

                localStorage.setItem('carts', JSON.stringify(carts))
            })
        })
    </script>
{% endblock %}